@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Light.otf);
}

* {
    font-family: Montserrat-Regular;
    scroll-behavior: auto;
    @media screen and (min-width: 800px){
        scroll-behavior: smooth;
    }
}

body {
    display: grid;
    margin: 0;
    color: #083c4d;
    background-color: #f5f5f5;
}

nav {
    top: 0;
    height: 64px;
    width: 100%;

    z-index: 10;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);

    #mobile-menubtn {
            #nav-icon3 {
            z-index: 10;
            opacity: 100%;
            position: fixed;
            top: 18px;
            right: 16px;
            font-size: 36px;
            margin-left: 50px;

            width: 35px;
            height: 18px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .3s ease-in-out;
            -moz-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            cursor: pointer;

        }
        
        #nav-icon3 span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: #083c4d;
            border-radius: 2px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }
        
        #nav-icon3 span:nth-child(1) {
            top: 0px;
        }
        
        #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
            top: 12px;
        }
        
        #nav-icon3 span:nth-child(4) {
            top: 24px;
        }
        
        #nav-icon3.open span:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
        }
        
        #nav-icon3.open span:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        
        #nav-icon3.open span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        
        #nav-icon3.open span:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
        }

    }

    .sidenav {
        z-index: 8;
        opacity: 0%;
        visibility: hidden;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #9fd4d6;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 80px;

        a {
            padding: 16px;
            text-decoration: none;
            font-size: 25px;
            text-align: center;
            color: #083c4d;
            display: block;
            transition: 0.3s;

        }
        @media screen and (min-width: 600px) {
            padding-top:120px;
            a {
                font-size: 32px;
                padding: 32px;
            }
        }

        a:hover {
            color: #00969b;
        }

        a:focus {
            outline: none;
        }

        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
          }
      }

    .topnav{
        visibility: hidden;
    }

    @media screen and (min-width: 600px) {
        
    }
    @media screen and (min-width: 800px) {
        position: fixed;
        width: 100%;
        height: 90px;
        display: grid;
        grid-template-areas: 'c links';
        grid-template-columns: 45% auto;
        z-index: 10;


        #mobile-menubtn {
            visibility: hidden;
        }
        .topnav{
            visibility: visible;
            grid-area: links;

            padding-top: 35px;

            font-size: 15px;
            text-align: center;
            a {
                padding: 0 18px 0 18px;
                color: #083c4d;
                transition: 0.5s;
            }
            a:link {
                text-decoration: none;
            }
            a:hover {
                color: #00969b;
            }
        }
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: 50% auto;
        height: 140px;
        .topnav {
            padding-top: 60px;
            font-size: 18px;
            a{
                padding: 0 14px;
            }
        }
    }
    // @media screen and (min-width: 1600px) {
    //     height: 185px;

    //     .topnav {
    //         padding-top: 80px;

    //         font-size: 22px;
    //         a {
    //             padding: 0 18px 0 18px;
    //         }
    //     }
    // }
}

#intro {
    display: grid;
    grid-template-areas: 
        'img'
        'article';
    #portrait {
        grid-area: img;
        width: 100%;
    }
    article {
        grid-area: article;
        padding-bottom: 24px;
        #signature {
            width: 80%;

            display: block;
            position: relative;
            z-index: 0;
            margin-left: auto;
            margin-right: auto;
            padding-top: 32px;
            transform: rotate(-5deg);
            animation-name: sign;
            animation-duration: 2s;
        }
        @keyframes sign {
            0% {
                opacity: 0%;
                transform: translateY(5px) rotate(-5deg);
            }
            100% {
                opacity: 100%;
                transform: rotate(-5deg);
            }
        }
        p {
            margin: 0;
            padding: 20px;
            font-size: 12pt;
            line-height: 1.6;
        }
        #job {
            font-family: Montserrat-Light;
            line-height: default;
            text-align: center;
            padding: 0;
            font-size: 16pt;

            transform: translateY(-5px);
            animation-name: prof;
            animation-duration: 2.5s;
        }
        @keyframes prof {
            0% {
                opacity: 0%;
                transform: translateY(0px);
            }
            100% {
                opacity: 100%;
                transform: translateY(-5px);
            }
        }
        #service {
            padding-top: 65px;
            animation-name: serv;
            animation-duration: 3.5s;
        }
        @keyframes serv {
            0% {
                opacity: 0%;
            }
            33% {
                opacity: 0%;
                transform: translateY(5px);
            }
            100% {
                opacity: 100%;
            }
        }
        #desc {
            padding-top: 40px;
            animation-name: descr;
            animation-duration: 3.5s;
        }
        @keyframes descr {
            0% {
                opacity: 0%;
            }
            33% {
                opacity: 0%;
                transform: translateY(5px);
            }
            100% {
                opacity: 100%;
            }
        }
    }
    @media screen and (min-width: 600px) {
        grid-template-rows: 600px;
        #portrait {
            object-fit: cover;
            height: 600px;
            //top: -100px;
        }
        article {
            #signature {
                padding-top: 60px;
                width: 420px;
            }
            p {
                padding: 60px;
            }
            #job {
                font-size: 20pt;
            }
            #service {
                padding-top: 100px;
            }
            #desc {
                padding-top: 0;
            }
        }
    }
    @media screen and (min-width: 800px) {
       grid-template-areas: 'img article';
       grid-template-columns: 45% auto;
       #portrait {
           height: 100%;
       }
       article {
           #signature {
               width: 320px;
               padding-top: 17vw;

               transform: translateX(-50px) rotate(-5deg);
           }
           @keyframes sign {
                0% {
                    opacity: 0%;
                    transform: translateY(5px) translateX(-50px) rotate(-5deg);
                }
                100% {
                    opacity: 100%;
                    transform: translateX(-50px) rotate(-5deg);
                }
            }

           p {
               width: 320px;
               margin-left: auto;
               margin-right: auto;
               padding: 0;
               font-size: 11pt;
           }
           #service {
               padding-top: 22px;
               padding-bottom: 48px;
           }

           #job {
               text-align: left;
               font-size: 26px;
               transform: translateY(-10px);
           }
           @keyframes prof {
            0% {
                opacity: 0%;
                transform: translateY(-5px) ;
            }
            100% {
                opacity: 100%;
                transform: translateY(-10px);
            }
        }
           #desc {
           }
       }
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: 50% auto;
        grid-template-rows: auto;
        #portrait {
            height: 700px;
        }
        article {
            #signature {
                padding-top: 18vw;
                transform: translateX(-65px) rotate(-5deg);
            }
            @keyframes sign {
                0% {
                    opacity: 0%;
                    transform: translateY(5px) translateX(-65px) rotate(-5deg);
                }
                100% {
                    opacity: 100%;
                    transform: translateY(5px) translateX(-65px) rotate(-5deg);
                }
            }
        }
    }
    @media screen and (min-width: 1380px) {
        #portrait {
            object-fit: unset;
            width: 100%;
            height: auto;
        }
        article {
            #signature {
                width: 380px;
                padding-top: 16vw;

                transform: translateX(-80px) rotate(-5deg);
            }
            @keyframes sign {
                0% {
                    opacity: 0%;
                    transform: translateY(5px) translateX(-80px) rotate(-5deg);
                }
                100% {
                    opacity: 100%;
                    transform: translateX(-80px) rotate(-5deg);
                }
            }
            p {
                font-size: 16px;
                padding: 0;
                width: 320px;
            }
            #service {
                padding-bottom: 65px;
            }
            #job {
                transform: translateY(-10px);
            }
            #desc {
                padding-bottom: 20px;
            }
        }
    }
    @media screen and (min-width: 1600px) {
        #portrait {
            object-fit: unset;
            width: 100%;
            height: auto;
        }
        article {
            #signature {
                width: 450px;
                padding-top: 280px;
            }
            p {
                font-size: 18px;
                width: 390px;
            }
            #service {
                padding-bottom: 85px;
            }
            #job {
                font-size: 32px;
            }
            #desc {
                padding-bottom: 20px;
            }
        }
    }
    @media screen and (min-width: 1860px) {
        article {
            #signature {
                padding-top: 340px;
            }
        }
        
    }
}

#aboutme {
    p {
        font-family: Montserrat-Light;
    }
    display: grid;
    grid-template-areas: 
        'img'
        'article';
    #portrait {
        grid-area: img;
        width: 100%;
    }
    article {
        grid-area: article;
        padding: 20px;
        padding-bottom: 60px;
        h1 {
            font-size: 18px;
        }
        p {
            line-height: 1.5;
        }
        div {
            padding-left: 20px;
            p {
                line-height: unset;
                margin: 0;
                margin: 4px 0;
            }
        }
    }
    @media screen and (min-width: 600px) {
        grid-template-rows: 800px;
        #portrait {
            object-fit: cover;
            height: 800px;
            //top: -100px;
        }
        article {
            width: 500px;
            padding: 60px;
            margin: auto;
        }
    }
    @media screen and (min-width: 800px) {
       grid-template-areas: 'img article';
       grid-template-columns: 45% auto;
       #portrait {
           height: 100%;
       }
       article {
           width: 80%;
           padding: 0;
           padding-top: 60px;
           p {
               font-size: 15px;
           }
       }
    }
    @media screen and (min-width: 992px) {
        article {
            width: 440px;
        }
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: 55% auto;
        grid-template-rows: auto;
        #portrait {
            object-fit: unset;
            // width: 100%;
            //height: 800px;
            height: auto;
            width: 100%;

        }
        article {
            padding: unset;
            padding-top: 100px;
            p {
                font-size: 16px;
            }
            div {
                padding-left: 45px;
            }
        }
    }
    @media screen and (min-width: 1400px) {
        grid-template-columns: 50% auto;
    }
    @media screen and (min-width: 1600px) {
        article {
            width: 500px;
            padding-top: 80px;
            h1 {
                font-size: 18px;
            }
            p {
                font-size: 18px;
            }
            div {
                padding-left: 60px;
            }
        }
    }
    @media screen and (min-width: 1800px) {
        article {
            width: 550px;
            h1 {
                font-size: 20px;
            }
            p {
                font-size: 20px;
            }
        }
    }
}

#quote {
    display: grid;
    grid-template-areas: 
        'picture'
        'quote';
    img {
        grid-area: picture;
        width: 100%;
    }
    p {
        margin: 0;
        font-family: Montserrat-Light;

        grid-area: quote;
        color: #479499;
        padding: 30px 20px;
        line-height: 1.4;
        text-align: center;
    }
    @media screen and (min-width: 400px) {
        p {
            padding: 40px 30px;
        }
    }
    @media screen and (min-width: 450px) {
        p {
            padding: 50px 0;
            margin: auto;
            width: 400px;
        }
    }
    @media screen and (min-width: 600px) {
        p {
            padding: 80px 0;
        }
    }
    @media screen and (min-width: 800px) {
        p {
            font-size: 18px;
            width: 420px;
        }
    }
    @media screen and (min-width: 1100px) {
        grid-template-areas: 'quote picture';
        grid-template-columns: 45% auto;
        img {
            object-fit: cover;
            object-position: -100px 0;
            height: 800px;
        }
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: 55% auto;
        img {
            object-position: -100px 0;
        }
    }
    @media screen and (min-width: 1400px) {
        grid-template-columns: 50% auto;
        img {
            object-position: -100px 0;
            height: 900px;
        }
        p {
            font-size: 20px;
            width: 460px;
        }
    }
    @media screen and (min-width: 1800px) {
        img {
            height: 1100px;
        }
    }
}

#exam-info{
    position: relative;
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    padding: 30px;
    background-color: #9fd4d6;
    #listy{
        p{
            margin: 0;

        }
    }
    article {
        p, li{
            font-size: 15px;
            line-height: 1.6;
            font-family: Montserrat-Light;
        }
    }
    @media screen and (min-width: 600px) {
        padding: 60px;
        article {
            h1 {
                padding-top: 24px;
                padding-bottom: 24px;
            }
        }
    }
    @media screen and (min-width: 800px) {
        padding: 80px;
        article {
            h1 {
                padding-top: 36px;
                padding-bottom: 36px;
            }
        }
    }
    @media screen and (min-width: 1024px) {
        padding: 140px;

        // grid-template-columns: 48% 48%;
        // margin: auto;
        // justify-content: space-evenly;
        // padding: 5vw;
        // padding-top: 10vw;
        // padding-bottom: 10vw;
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: 37% 37%;

        margin: auto;
        padding: 160px;
        justify-content: center;

        grid-gap: 180px;



        article {
            p, li{
                font-size: 15px;
            }
            h1 {
                height: 80px;

                padding: 0;
                margin: 0;
                font-size: 20px;
            }
        }
    }
    @media screen and (min-width: 1600px) {
        grid-template-columns: 40% 40%;
        grid-gap: 360px;
        padding: 220px;
        article {
            p, li{
                font-size: 17px;
            }
            h1 {
                height: 100px;

                padding: 0;
                margin: 0;
                font-size: 27px;
            }
        }
    }
}

#exams {
    margin: auto;
    padding: 80px 0;
    padding-bottom: 0;

    width: 75%;
    h1 {
        text-align: center;
        font-size: 20pt;
        margin: 0;
        padding-bottom: 30px;
    }
    font-size: 12pt;

    @media screen and (min-width: 600px) {
        width: 50%;
    }
    @media screen and (min-width: 950px) {
        padding: 120px 0px;        
        width: 90%;
        padding-bottom: 0;

        h1 {
            padding-bottom: 40px;
        }
    }
    @media screen and (min-width: 1200px) {
        padding: 200px 0px;
        width: 950px;
        padding-bottom: 0;

        h1 {
            padding-bottom: 80px;
        }
    }
    @media screen and (min-width: 1400px) {
        width: 1150px;
    }


    .exam-type {
        height: auto;
        display: grid;
        grid-template-areas: 
        'title'
        'pic'
        'what'
        'why';
        padding: 30px 0;
        padding-top: 0;
        border-bottom: 1px solid #32848a;
        #exampic {
            grid-area: pic;
            width: 100%;
            padding-bottom: 10px;
        }
        #examtitle {
            grid-area: title;
            font-size: 13pt;
            margin: 30px 0;
        }
        #examwhat {
            grid-area: what;
            padding: 8px 0;
        }
        #examwhy {
            grid-area: why;
        }
        #examwhat, #examwhy {
            #q {
                padding: 8px 0;
            }
            p {
                margin:3px 0;
                font-size: 11pt;
                font-family: Montserrat-Light;
            }
        }
        #list {
            p {
                margin:2px 0;
            }
        }
        @media screen and (min-width: 600px) {

        }
        @media screen and (min-width: 950px) {
            grid-template-areas: 
                'pic title title'
                'pic what  why';
            grid-template-columns: 30% 30% 30%;
            grid-template-rows: 40px 190px;
            justify-content: space-between;
            margin: auto;
            padding: 55px 0;
            grid-gap: 0px;
            height: 230px;

            #exampic {
                object-fit: unset;
                height: 100%;
                width: auto;
                padding:0;
            }
            #examtitle {
                margin: 0;
                padding: 0;
            }
            #examwhat{
                padding: 0;
            }

            #examwhat, #examwhy {
                #q {
                    padding: 0;
                }
                p {
                    font-size: 11px;
                }
            }
        }
        // @media screen and (min-width: 992px) {
        //     grid-template-columns: 28% 30% 30%;
        // }
        @media screen and (min-width: 1200px) {
            grid-template-columns: 280px 320px 320px;
        }
        @media screen and (min-width: 1400px) {
            grid-template-rows: 40px 210px;
            height: 250px;
            #examwhat, #examwhy {
                p {
                    font-size: 13px;
                }
            }
        }
    }
}
.exam-details {
    margin: auto;
    padding: 80px 0;
    display: grid;
    grid-template-columns: auto;
    width: 75%;
    h2 {
        font-size: 13pt;
    }
    p {
        font-size: 11pt;
        font-family: Montserrat-Light;
    }
    @media screen and (min-width: 950px) {
        padding: 180px 60px;
        margin: auto;
        grid-template-columns: 52% 37%;
        justify-content: space-between;
        width: auto;
        h2 {
            font-size: 13pt;
        }
    }
    @media screen and (min-width: 1200px) {
        width: 950px;
        padding: 180px 0;
        p {
            font-size: 11pt;
        }
    }
    @media screen and (min-width: 1400px) {
        grid-template-columns: 610px 390px;
        width: 1150px;
        grid-gap: 180px;
    }
}

#contact {
    display: grid;
    grid-template-areas: 
    'img'    
    'info';
    img {
        grid-area: img;
        visibility: hidden;
        height: 0;
    }
    article {
        grid-area: info;
        
        margin: auto;
        width: 75%;
        padding-bottom: 40px;
        h1{
            font-size: 22px;
        }
        p {
            font-family: Montserrat-Light;
            font-size: 10pt;
        }
        h2 {
            padding-top: 18px;
            font-size: 16px;
        }
        #ctable {
            display: grid;
            width: 320px;
            grid-template-columns: 20% auto;
        }
    }
    @media screen and (min-width: 950px) {
        grid-template-areas: 'img info';
        grid-template-columns: 50% auto;
        img {
            object-fit: cover;
            visibility: visible;
            height: 100%;
            width: 100%;
        }
        article {
            padding: 30px 0;
        }
    }
    @media screen and (min-width: 1200px) {
        article {
            padding: 100px 0;
            width: 60%;
        }
    }
    @media screen and (min-width: 1600px) {
        article {
            padding-top: 200px;
            padding-bottom: 150px;

            width: 550px;
        }
    }
}

footer {
    width: 100%;
    margin: auto;
    padding: 25px 0;
    color: white;
    background-color: #484848;
    text-align: center;
    font-family: Montserrat-Light;

}