@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: Montserrat-Light;
  src: url(../fonts/Montserrat-Light.otf);
}
* {
  font-family: Montserrat-Regular;
  scroll-behavior: auto;
}
@media screen and (min-width: 800px) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  display: grid;
  margin: 0;
  color: #083c4d;
  background-color: #f5f5f5;
}

nav {
  top: 0;
  height: 64px;
  width: 100%;
  z-index: 10;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
}
nav #mobile-menubtn #nav-icon3 {
  z-index: 10;
  opacity: 100%;
  position: fixed;
  top: 18px;
  right: 16px;
  font-size: 36px;
  margin-left: 50px;
  width: 35px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
nav #mobile-menubtn #nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #083c4d;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
nav #mobile-menubtn #nav-icon3 span:nth-child(1) {
  top: 0px;
}
nav #mobile-menubtn #nav-icon3 span:nth-child(2), nav #mobile-menubtn #nav-icon3 span:nth-child(3) {
  top: 12px;
}
nav #mobile-menubtn #nav-icon3 span:nth-child(4) {
  top: 24px;
}
nav #mobile-menubtn #nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
nav #mobile-menubtn #nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
nav #mobile-menubtn #nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
nav #mobile-menubtn #nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
nav .sidenav {
  z-index: 8;
  opacity: 0%;
  visibility: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #9fd4d6;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 80px;
}
nav .sidenav a {
  padding: 16px;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  color: #083c4d;
  display: block;
  transition: 0.3s;
}
@media screen and (min-width: 600px) {
  nav .sidenav {
    padding-top: 120px;
  }
  nav .sidenav a {
    font-size: 32px;
    padding: 32px;
  }
}
nav .sidenav a:hover {
  color: #00969b;
}
nav .sidenav a:focus {
  outline: none;
}
nav .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
nav .topnav {
  visibility: hidden;
}
@media screen and (min-width: 800px) {
  nav {
    position: fixed;
    width: 100%;
    height: 90px;
    display: grid;
    grid-template-areas: "c links";
    grid-template-columns: 45% auto;
    z-index: 10;
  }
  nav #mobile-menubtn {
    visibility: hidden;
  }
  nav .topnav {
    visibility: visible;
    grid-area: links;
    padding-top: 35px;
    font-size: 15px;
    text-align: center;
  }
  nav .topnav a {
    padding: 0 18px 0 18px;
    color: #083c4d;
    transition: 0.5s;
  }
  nav .topnav a:link {
    text-decoration: none;
  }
  nav .topnav a:hover {
    color: #00969b;
  }
}
@media screen and (min-width: 1200px) {
  nav {
    grid-template-columns: 50% auto;
    height: 140px;
  }
  nav .topnav {
    padding-top: 60px;
    font-size: 20px;
  }
  nav .topnav a {
    padding: 0 14px;
  }
}
@media screen and (min-width: 1600px) {
  nav {
    height: 185px;
  }
  nav .topnav {
    padding-top: 80px;
    font-size: 22px;
  }
  nav .topnav a {
    padding: 0 18px 0 18px;
  }
}

#intro {
  display: grid;
  grid-template-areas: "img" "article";
}
#intro #portrait {
  grid-area: img;
  width: 100%;
}
#intro article {
  grid-area: article;
  padding-bottom: 24px;
}
#intro article #signature {
  width: 80%;
  display: block;
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
  transform: rotate(-5deg);
}
#intro article p {
  margin: 0;
  padding: 20px;
  font-size: 14pt;
  line-height: 1.6;
}
#intro article #job {
  font-family: Montserrat-Light;
  line-height: default;
  text-align: center;
  padding: 0;
  font-size: 16pt;
  transform: translateY(-5px);
}
#intro article #service {
  padding-top: 65px;
}
#intro article #desc {
  padding-top: 40px;
}
@media screen and (min-width: 600px) {
  #intro {
    grid-template-rows: 600px;
  }
  #intro #portrait {
    object-fit: cover;
    height: 600px;
  }
  #intro article #signature {
    padding-top: 40px;
    width: 420px;
  }
  #intro article p {
    padding: 60px;
  }
  #intro article #job {
    font-size: 20pt;
  }
  #intro article #service {
    padding-top: 100px;
  }
  #intro article #desc {
    padding-top: 0;
  }
}
@media screen and (min-width: 800px) {
  #intro {
    grid-template-areas: "img article";
    grid-template-columns: 45% auto;
  }
  #intro #portrait {
    height: 100%;
  }
  #intro article #signature {
    width: 320px;
    padding-top: 17vw;
    transform: translateX(-50px) rotate(-5deg);
  }
  #intro article p {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-size: 12pt;
  }
  #intro article #service {
    padding-top: 22px;
    padding-bottom: 48px;
  }
  #intro article #job {
    text-align: left;
    font-size: 26px;
    transform: translateY(-10px);
  }
}
@media screen and (min-width: 1200px) {
  #intro {
    grid-template-columns: 50% auto;
    grid-template-rows: auto;
  }
  #intro #portrait {
    height: 700px;
  }
  #intro article #signature {
    padding-top: 18vw;
    transform: translateX(-65px) rotate(-5deg);
  }
}
@media screen and (min-width: 1380px) {
  #intro #portrait {
    object-fit: unset;
    width: 100%;
    height: auto;
  }
  #intro article #signature {
    width: 380px;
    padding-top: 16vw;
    transform: translateX(-80px) rotate(-5deg);
  }
  #intro article p {
    font-size: 18px;
    padding: 0;
    width: 360px;
  }
  #intro article #service {
    padding-bottom: 65px;
  }
  #intro article #job {
    transform: translateY(-10px);
  }
  #intro article #desc {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1600px) {
  #intro #portrait {
    object-fit: unset;
    width: 100%;
    height: auto;
  }
  #intro article #signature {
    width: 450px;
    padding-top: 280px;
  }
  #intro article p {
    font-size: 21px;
    width: 390px;
  }
  #intro article #service {
    padding-bottom: 85px;
  }
  #intro article #job {
    font-size: 32px;
  }
  #intro article #desc {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1860px) {
  #intro article #signature {
    padding-top: 410px;
  }
}

#exam-info {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  padding: 30px;
  background-color: #9fd4d6;
}
#exam-info article p, #exam-info article li {
  font-size: 16px;
  line-height: 1.6;
  font-family: Montserrat-Light;
}
@media screen and (min-width: 600px) {
  #exam-info {
    padding: 60px;
  }
  #exam-info article h1 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 800px) {
  #exam-info {
    padding: 80px;
  }
  #exam-info article h1 {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 1024px) {
  #exam-info {
    padding: 140px;
  }
}
@media screen and (min-width: 1200px) {
  #exam-info {
    grid-template-columns: 42% 42%;
    margin: auto;
    padding: 100px;
    justify-content: center;
    grid-gap: 90px;
  }
  #exam-info article p, #exam-info article li {
    font-size: 18px;
  }
  #exam-info article h1 {
    height: 80px;
    padding: 0;
    margin: 0;
    font-size: 24px;
  }
}
@media screen and (min-width: 1600px) {
  #exam-info {
    grid-template-columns: 40% 40%;
    grid-gap: 360px;
    padding: 220px;
  }
  #exam-info article p, #exam-info article li {
    font-size: 20px;
  }
  #exam-info article h1 {
    height: 100px;
    padding: 0;
    margin: 0;
    font-size: 32px;
  }
}

#exams {
  margin: auto;
  padding: 60px 30px;
  font-size: 12pt;
}
#exams h1 {
  text-align: center;
  font-size: 20pt;
}
@media screen and (min-width: 600px) {
  #exams {
    padding: 60px 120px;
  }
}
@media screen and (min-width: 850px) {
  #exams {
    padding: 100px 0px;
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  #exams {
    padding: 100px 0px;
    width: 70%;
  }
}
#exams .exam-type {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas: "title" "pic" "what" "why";
  padding: 50px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
#exams .exam-type #exampic {
  grid-area: pic;
  width: 100%;
}
#exams .exam-type #examtitle {
  grid-area: title;
  font-size: 16pt;
}
#exams .exam-type #examwhat {
  grid-area: what;
}
#exams .exam-type #examwhy {
  grid-area: why;
}
#exams .exam-type #examwhat p, #exams .exam-type #examwhy p {
  margin: 2px 0;
  font-size: 12pt;
  font-family: Montserrat-Light;
}
#exams .exam-type #list p {
  margin: 2px 0;
}
@media screen and (min-width: 850px) {
  #exams .exam-type {
    grid-template-areas: "pic title title" "pic what  why";
    grid-template-columns: 30% 30% 35%;
    grid-template-rows: 32px auto;
    justify-content: space-between;
    margin: auto;
    padding: 80px 0;
    grid-gap: 20px;
    height: 320px;
  }
  #exams .exam-type #exampic {
    object-fit: cover;
    height: 100%;
  }
  #exams .exam-type #examtitle {
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  #exams .exam-type {
    grid-template-columns: 28% 30% 30%;
  }
}
@media screen and (min-width: 1200px) {
  #exams .exam-type {
    grid-template-columns: 280px 320px 320px;
  }
}
#exams .exam-details {
  padding: 120px 0px;
  display: grid;
  grid-template-columns: auto;
}
#exams .exam-details h2 {
  font-size: 14pt;
}
@media screen and (min-width: 850px) {
  #exams .exam-details {
    padding: 180px 0px;
    margin: auto;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=master.css.map */
