@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: Montserrat-Light;
  src: url(../fonts/Montserrat-Light.otf);
}
* {
  font-family: Montserrat-Regular;
}

body {
  display: grid;
  margin: 0;
  color: #083c4d;
}

nav {
  top: 0;
  height: 64px;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
}
nav #mobile-menubtn #nav-icon3 {
  z-index: 10;
  opacity: 100%;
  position: fixed;
  top: 18px;
  right: 16px;
  font-size: 36px;
  margin-left: 50px;
  width: 35px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
nav #mobile-menubtn #nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #083c4d;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
nav #mobile-menubtn #nav-icon3 span:nth-child(1) {
  top: 0px;
}
nav #mobile-menubtn #nav-icon3 span:nth-child(2), nav #mobile-menubtn #nav-icon3 span:nth-child(3) {
  top: 12px;
}
nav #mobile-menubtn #nav-icon3 span:nth-child(4) {
  top: 24px;
}
nav #mobile-menubtn #nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
nav #mobile-menubtn #nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
nav #mobile-menubtn #nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
nav #mobile-menubtn #nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
nav .sidenav {
  opacity: 0%;
  visibility: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #9fd4d6;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 80px;
}
nav .sidenav a {
  padding: 16px 16px 16px 48px;
  text-decoration: none;
  font-size: 25px;
  color: #083c4d;
  display: block;
  transition: 0.3s;
}
nav .sidenav a:hover {
  color: #00969b;
}
nav .sidenav a:focus {
  outline: none;
}
nav .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
nav .topnav {
  visibility: hidden;
}
@media screen and (min-width: 992px) {
  nav {
    position: fixed;
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-areas: "c links";
    grid-template-columns: 50% 50%;
  }
  nav #mobile-menubtn {
    visibility: hidden;
  }
  nav .topnav {
    visibility: visible;
    grid-area: links;
    padding-top: 50px;
    text-align: center;
  }
  nav .topnav a {
    padding: 0 24px 0 24px;
    color: #083c4d;
    transition: 0.5s;
  }
  nav .topnav a:link {
    text-decoration: none;
  }
  nav .topnav a:hover {
    color: #00969b;
  }
}

#intro {
  display: grid;
  grid-template-areas: "img" "article";
}
#intro img {
  grid-area: img;
  width: 100%;
}
#intro article {
  grid-area: article;
}
#intro article img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  transform: rotate(-5deg);
}
#intro article h2 {
  text-align: center;
  font-family: Montserrat-Light;
  font-weight: 300;
  margin: 0;
  font-size: 16pt;
  padding-top: 4px;
}
#intro article p {
  margin: 0;
  padding: 20px;
  font-size: 14pt;
}
@media screen and (min-width: 992px) {
  #intro {
    grid-template-areas: "img article";
    grid-template-columns: 50% auto;
  }
  #intro img {
    width: 100%;
  }
  #intro article img {
    width: 60%;
    padding-top: 20vw;
  }
  #intro article h2 {
    font-size: 24pt;
  }
  #intro article p {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14pt;
  }
  #intro article #service {
    padding-top: 24px;
    padding-bottom: 52px;
  }
}

#exams .exam-type img {
  width: 30%;
}

/*# sourceMappingURL=master.css.map */
